.app{
    background-color: #fafafa;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    object-fit: contain;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__header > img {
    object-fit: contain;
}
.app__headerSearch{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.app__headerSearch > input {
    outline: none;
    border: none;
    font-size: 16px;
}
.app__headerIcon {
    color: gray;
    font-size: 20px !important;
}





.paper {
    position: absolute;
    width: 400px;
    border: 2px solid #000;
    background-color: #fff;
    padding: 25px;
}

.app__signUp {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.app__posts {
    padding: 20px;
    display: grid;
    justify-content: center;
}

